# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask instance & database
instance/
*.db
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log